########## BUILD #############################################################

build/*

########## TEX ###############################################################

## Core latex/pdflatex auxiliary files:
docs/*.aux
docs/*.lof
docs/*.log
docs/*.lot
docs/*.fls
docs/*.out
docs/*.toc
docs/*.fmt
docs/*.fot
docs/*.cb
docs/*.cb2
docs/.*.lb

## Intermediate documents:
docs/*.dvi
docs/*.xdv
docs/*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
docs/.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
docs/*.bbl
docs/*.bcf
docs/*.blg
docs/*-blx.aux
docs/*-blx.bib
docs/*.run.xml

## Build tool auxiliary files:
docs/*.fdb_latexmk
docs/*.synctex
docs/*.synctex(busy)
docs/*.synctex.gz
docs/*.synctex.gz(busy)
docs/*.pdfsync

## Build tool directories for auxiliary files
# latexrun
docs/latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
docs/*.alg
docs/*.loa

# achemso
docs/acs-*.bib

# amsthm
docs/*.thm

# beamer
docs/*.nav
docs/*.pre
docs/*.snm
docs/*.vrb

# changes
docs/*.soc

# comment
docs/*.cut

# cprotect
docs/*.cpt

# elsarticle (documentclass of Elsevier journals)
docs/*.spl

# endnotes
docs/*.ent

# fixme
docs/*.lox

# feynmf/feynmp
docs/*.mf
docs/*.mp
docs/*.t[1-9]
docs/*.t[1-9][0-9]
docs/*.tfm

#(r)(e)ledmac/(r)(e)ledpar
docs/*.end
docs/*.?end
docs/*.[1-9]
docs/*.[1-9][0-9]
docs/*.[1-9][0-9][0-9]
docs/*.[1-9]R
docs/*.[1-9][0-9]R
docs/*.[1-9][0-9][0-9]R
docs/*.eledsec[1-9]
docs/*.eledsec[1-9]R
docs/*.eledsec[1-9][0-9]
docs/*.eledsec[1-9][0-9]R
docs/*.eledsec[1-9][0-9][0-9]
docs/*.eledsec[1-9][0-9][0-9]R

# glossaries
docs/*.acn
docs/*.acr
docs/*.glg
docs/*.glo
docs/*.gls
docs/*.glsdefs

# gnuplottex
docs/*-gnuplottex-*

# gregoriotex
docs/*.gaux
docs/*.gtex

# htlatex
docs/*.4ct
docs/*.4tc
docs/*.idv
docs/*.lg
docs/*.trc
docs/*.xref

# hyperref
docs/*.brf

# knitr
docs/*-concordance.tex
# TODO Comment the next line if you want to keep your tikz graphics files
docs/*.tikz
docs/*-tikzDictionary

# listings
docs/*.lol

# makeidx
docs/*.idx
docs/*.ilg
docs/*.ind
docs/*.ist

# minitoc
docs/*.maf
docs/*.mlf
docs/*.mlt
docs/*.mtc[0-9]*
docs/*.slf[0-9]*
docs/*.slt[0-9]*
docs/*.stc[0-9]*

# minted
docs/_minted*
docs/*.pyg

# morewrites
docs/*.mw

# nomencl
docs/*.nlg
docs/*.nlo
docs/*.nls

# pax
docs/*.pax

# pdfpcnotes
docs/*.pdfpc

# sagetex
docs/*.sagetex.sage
docs/*.sagetex.py
docs/*.sagetex.scmd

# scrwfile
docs/*.wrt

# sympy
docs/*.sout
docs/*.sympy
docs/sympy-plots-for-*.tex/

# pdfcomment
docs/*.upa
docs/*.upb

# pythontex
docs/*.pytxcode
docs/pythontex-files-*/

# tcolorbox
docs/*.listing

# thmtools
docs/*.loe

# TikZ & PGF
docs/*.dpth
docs/*.md5
docs/*.auxlock

# todonotes
docs/*.tdo

# vhistory
docs/*.hst
docs/*.ver

# easy-todo
docs/*.lod

# xcolor
docs/*.xcp

# xmpincl
docs/*.xmpi

# xindy
docs/*.xdy

# xypic precompiled matrices
docs/*.xyc

# endfloat
docs/*.ttt
docs/*.fff

# Latexian
docs/TSWLatexianTemp*

## Editors:
# WinEdt
docs/*.bak
docs/*.sav

# Texpad
docs/.texpadtmp

# LyX
docs/*.lyx~

# Kile
docs/*.backup

# KBibTeX
docs/*~[0-9]*

# auto folder when using emacs and auctex
docs/./auto/*
docs/*.el

# expex forward references with \gathertags
docs/*-tags.tex

# standalone packages
docs/*.sta

########## VSCODE ############################################################

.vscode/*

########## DATA ##############################################################

data/*

######### OUTPUTS ############################################################

out/*
