########## BUILD #############################################################

build
release

########## DOCS ##############################################################

docs/tex

########## VSCODE ############################################################

.vscode

########## DATA ##############################################################

# data/*

######### OUTPUTS ############################################################

out/*
